<!-- 
# Author: Chen Bi
# Date: 18 May 2020
-->

<!doctype html>

{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- load CKEditor -->
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <title>Bunbury Koombana Bay Hotel</title>

  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex justify-content-center" style="margin-bottom: 20px; margin-top: 10px;">
        <img src="{% static 'img/bb.jpg' %}" height="330" width="600">
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <form action="/sent/" method="POST"> 
            {% csrf_token %}
            <div class="input-group">
              <!-- {{ form.contact_email }} -->
              <button type="button" id="update_db" class="btn btn-success">
                <a href="/db_update/">
                  Update DB
                </a>
              </button>
              <div class="input-group-append">
                <button id="email_strategy" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ email_strategy }}</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" id='email_opt_a' href="/email/a/">Email Group</a>
                  <a class="dropdown-item" id='email_opt_b' href="/email/b/">Email One</a>
                  <a class="dropdown-item" id='email_opt_c' href="/email/c/">Email All</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" id='email_opt_d' href="/email/d/">Schedule Email</a>
                </div>
              </div>

              <!-- email template -->
              <div class="input-group-append">
                <button id="template_chose" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ template_chose }}</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" id='template_opt_a' href="/template/1/">Best Offer</a>
                  <a class="dropdown-item" id='template_opt_b' href="/template/2/">Promotion</a>
                  <a class="dropdown-item" id='template_opt_c' href="/template/3/">For Our Member</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" id='template_opt_d' href="/template/4/">New Event</a>
                </div>
              </div>
              <div class="input-group-append">
                <button class="btn btn-info" type="button">
                  <a href="/view_template/">
                    Current template
                  </a>
                </button>
              </div>
            </div>
            <div class="form-group" style="margin-top: 15px;">
              {{ form.email_content }}
            </div>
            <!-- <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
            <button type="submit" class="btn btn-primary">Send Off</button>   

<!--             enable editing tools (in dev pending)
            <script>
                CKEDITOR.replace( 'editor1' );
            </script> -->
          </form>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html> 